body {
  background-color: #F4F3EA;
}

.left_profile {
  position: absolute;
  left: 100px;
  width: 600px;
  height: 650px;
  top: 100px;
  background-color: #F4F3EA;
  text-align: center;
  border: 4px solid black;
  border-radius: 20px;
}

.left_img {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-image: url('/img/kimHyeonmin.jpg');
  background-position: center;
  background-size: cover;
}

.content {
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin: 0;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-top: 50px;

}

h1 {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.center_circle{
  position: absolute;
  width: 300px;
  height: 300px;
  background-image: url('https://teamsparta.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F83c75a39-3aba-4ba4-a792-7aefe4b07895%2Fae5d6bb4-5849-40a6-b477-b7f6a36aaa41%2FSpartaIconScale7.png?table=block&id=6336f51b-69cd-443a-b0cf-a425f5c8550d&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=250&userId=&cache=v2');
  left: 780px;
  top: 240px;
  border: 4px solid black;
  border-radius: 50%;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.right_profile{
  position: absolute;
  right: 150px;
  width: 600px;
  height: 650px;
  top: 100px;
  background-color: #F4F3EA;
  text-align: left;
  border: 4px solid black;
  border-radius: 20px;
  padding-left: 10px;
}
.right_p{
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}
.center_p{
  font-size: 30px;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  text-align: center;
  cursor: pointer;
}

.bottom_profile{
  position: absolute;
  width: 95%;
  height: 200px;
  bottom: -100px;
  left: 46px;
  border-radius: 20px;
  border: 4px solid black;
  text-align: center;
  font-size: 20px;
}
.bottom_p{
  font-size: 40px;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.link1{
  width: 50px;
  height: 50px;
  position: relative;
  left: 270px;
  top: 25px;
  cursor: pointer;
  background-size: cover;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAMAAACfWMssAAAAY1BMVEX///8AAAD5+fnk5OSRkZFQUFBxcXHZ2dksLCzExMTu7u7f39/29vZ8fHzo6OjLy8u8vLyzs7NBQUGYmJhKSkpjY2MYGBjT09M5OTmsrKyEhISmpqZcXFwTExOKiopVVVUkJCSS2/+7AAACIElEQVRIiZ2W54KDIAyACVitq+7Rdd77P+UpMiIyes2vpuSDLIKEOISyZJoSRl3rVqmiCyi5RNVn1BTDSeIpiNXXM7bJtfaf5sA46jm1dGOblA6MjX4OYGQ2Lg1hm6RnrvmEA2i+5E5k9SkHcGiH7HMOIEPgLHfL763d+tIwmb1Zc53467opua3leB1+hdadHH3set5C/2jShLEkbR49tLnRH9LZQf5xl1sdLpNS7tJuEAcoj05FcpVsd0HHdPeD6kSIN7XQOXB1MTFiBChW9Ymy5weR4XNVe61aWhgLugb9mjNULT+HswEUd2kWAlFnVijEV4gj5IWC1KkKFGMTXZASbZKEwQS5N6vftzB4U8YzGb8DR1TVf4FA3t/F+CZ6dvuHPJdaGV+JfpeiMBgp4wtqozkM6oEUo03C2UEtFyG34ScE/mjbGmeYX0+PoCu/eafrsUbsFfS+v1f1gfbx3sgBGW6DNEE6tM4EsRnb8WbhLdBHYsPSirLjY81H/p7XdcBlIoa2qzI0kWlWdeaDIpqMX5CB4iieGuzgJKNYStXxcqXHbvYnUE3DBYS3cnId+r02uUUticoyNToP8+5mgqhPUnnk+rJ0T+PbrTC4w9jeu9BeRHrkjI7mCR2t5BEczGWRoOpGCc3d4GJyx1akLvB03iZRGHRMF/3+FHbQ+alMYx8Y+77P88UFLrmLkWi5328k6yUoQxiXyZg9he2j+g9XjBQ+RkOnvAAAAABJRU5ErkJggg==');
}
