body {
  background-image: url('../img/벚꽃.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 0 0 0;
}

.top {
  text-align: center;
  height: 200px;
  font-size: 33px;
  background-color: white;
  padding: 20px 0;
  background-image: url('https://www.askedtech.com/api/kords/admin/product/image.jpg?type=org&id=22728');
  background-position: center;
  border-bottom: 1px solid white;
}

.top_text {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

.top_text2 {
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.center_p {
  font-size: 30px;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.main {
  position: relative;
  width: 90%;
  height: 1000px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(245, 220, 245, 1) 100%);

}

.left_jpg {
  border: 5px solid black;
  border-radius: 20px;
  background-image: url('../img/letf.jpg');
  width: 650px;
  height: 500px;
  background-size: cover;
  margin-top: 20px
}

.jpg_text {
  position: absolute;
  top: 480px;
  left: 200px;
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;

}

.right_profile {
  position: absolute;
  top: 0;
  right: 100px;
  width: 700px;
  height: 600px;
  background-color: #fff5f6;
  border: 5px solid black;
  border-radius: 20px;

}

.right_text {
  font-size: 40px;
  text-align: left;
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

.right_list {
  font-size: 35px;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bottom_profile {
  position: absolute;
  top: 650px;
  width: 1000px;
  height: 300px;
  left: 350px;
  background-color: #fff5f6;
  border: 5px solid black;
  border-radius: 20px;
}

.bottom_text {
  font-size: 40px;
  text-align: center;
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

.bottom_p {
  font-size: 30px;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.personal_profile {
  width: 100%;
  height: 510px;
  background: rgb(242, 239, 242);
  background: linear-gradient(90deg, rgba(242, 239, 242, 1) 0%, rgba(244, 219, 240, 1) 35%, rgba(201, 242, 250, 1) 100%);
}

.one {
  position: absolute;
  left: 50px;
  width: 350px;
  height: 500px;
  border: 1px solid black;
  background-color: #FBF6F9;
}

.one_jpg {
  width: 350px;
  height: 400px;
  background-image: url('../img/kimHyeonmin.jpg');
  background-size: cover;
  cursor: pointer;
}

.two {
  position: absolute;
  left: 500px;
  width: 350px;
  height: 500px;
  border: 1px solid black;
  background-color: #FBF6F9;
}

.two_jpg {
  width: 350px;
  height: 400px;
  background-image: url('img/kimmangyu.jpeg');
  background-size: cover;
  cursor: pointer;
}

.three {
  position: absolute;
  left: 1000px;
  width: 350px;
  height: 500px;
  border: 1px solid black;
  background-color: #FBF6F9;
}

.three_jpg {
  width: 350px;
  height: 400px;
  background-image: url('../img/JoYoungJin.jpg');
  background-size: cover;
  cursor: pointer;
}

.four {
  position: absolute;
  left: 1500px;
  width: 350px;
  height: 500px;
  border: 1px solid black;
  background-color: #FBF6F9;
}

.four_jpg {
  width: 350px;
  height: 400px;
  background-image: url('../img/홍걸.png');
  background-size: cover;
  cursor: pointer;
}

.profilejpg_text {
  text-align: center;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lowerContainer{
  width: 100%;
  height: 500px;
  text-align: center;
  font-size: 30px;
}
.name{
  width: 100px;
  font-size: 24px;
}
.comment{
  width: 400px;
  font-size: 24px;
}
.password{
  width: 160px;
  font-size: 24px;
}
.button{
  background-color: beige;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 30px;
}
.visitcomment{
  width: 100%;
  height: 100px;
  text-align: center;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
.commentBlock{
  margin-top: 10px;
  display: flex;
  border: 3px solid beige;
  border-radius: 30px;
  background-color: white;
}
.commentDelete{
  background-color: beige;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 30px;
}
.commentFix{
  background-color: beige;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 30px;
}